.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #333333;
  color: white;
  padding: 10px 20px;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  padding: 0 15px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar button{
  background-color: #b0b0b1; /* Blue background */
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #dfdfdf; /* Darker blue on hover */
}

.navbar button:active {
  background-color: rgb(236, 236, 236); /* Even darker blue when active */
}
